body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__img {
  width: 100%;
}

.matrix__info {
  font-family: fantasy, cursive;
}

.main {
	display: block;
	width: 400px;
	margin: 0 auto;
}

.add-block,
.todo-block,
.complete-block {  
    margin-block-start: 3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  text-transform: uppercase;
	list-style: none;
}

.add-block__input, 
.form__text {
    margin: 0;
		width: 226px;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
		outline: none;
}

.add-block__input {
	width: 318px;
}

.form__text:focus {
    color: #333;
}

.add-block__button,
.btn-edit,
.btn-delete {
	background: none;
	border: 0px;
		color: #888;
	font-size: 15px;
		width: 60px;
	font-family: Lato, sans-serif;
	cursor: pointer;
	outline: none;
}

.add-block__button:hover {
	color: #0FC57C;
}

.btn-edit:hover,
.btn-delete:hover {
	color: #3a3A3a;
}

.todo-block__form,
.complete-block__form {
	overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
	vertical-align: middle;
}

.form__checkbox {
    margin: 0 10px;
		outline: none;
}

.form__text {
	display: none;
}

.task {
	width: 56%;
	display: inline-block;
}

.btn-delete__image {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.btn-delete__image:hover {
    transform: rotateZ(0);
}

.form__edit .form__text {
	display: inline-block;
	width: 224px;
}

.form__edit .form__label {
display: none;
}

.complete-block__form .form__label {
    text-decoration: line-through;
    color: #888;
}

@media (max-width: 768px) {
    .matrix { 
        text-align: center;
    }
}